<div id="heading" class="home section mat-typography" [ngStyle.lt-md]="{'margin-top': '30px', 'margin-bottom': '30px'}">
    <div class="container">
        <div class="heading-section" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20">
            <div [class.animated]="isHeading" [class.fadeInLeft]="isHeading">
                <h1 [ngStyle.xs]="{'font-size': '32px'}" [ngStyle.sm]="{'font-size': '42px'}">Administer infringements
                    smartly.</h1>
            </div>
            <div [class.animated]="isSubheading" [class.fadeInRight]="isSubheading">
                <h2 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">Administer
                    infringement tickets via your phone, you can also monitor
                    demerit points smartly via your phone by simply installing the infringement app on your
                    phone.</h2>
                    <!-- <jhi-process-counts></jhi-process-counts> -->
                    <!-- <jhi-line-chart2></jhi-line-chart2> -->
            </div>
            <div fxLayout="row" [class.animated]="isHeadingBtn" [class.fadeIn]="isHeadingBtn"
                [class.heading-btn]="isHeadingBtn">
                <a routerLink="/staff/infringements" class="heading-button-left" mat-flat-button color="primary">Manage Infringements</a>
                <a class="heading-button-right" mat-stroked-button color="primary">Download App</a>
            </div>
           
        </div>
    </div>
</div>