<jhi-page-ribbon></jhi-page-ribbon>

<!-- <div>
    <router-outlet name="navbar"></router-outlet>
</div>

<div class="container-fluid">
    <div class="card jh-card">
        <router-outlet></router-outlet>
    </div>

    <jhi-footer></jhi-footer>
</div> -->

<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <jhi-sidenav-list (closeSidenav)="sidenav.close()"></jhi-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <jhi-navbar (sidenavToggle)="sidenav.toggle()"></jhi-navbar>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>