
<div class="row justify-content-center">
    <div class="col-8">
        <form fxFlex.lt-md="100" fxFlex="50" fxLayout="column" fxLayoutGap="10px" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-driver-heading" jhiTranslate="infringementwebApp.driver.home.createOrEditLabel">Create or edit a
                Driver</h2>
                <jhi-alert-error></jhi-alert-error>
                <!-- <mat-form-field>
                    <input class="form-control" type="text" matInput formControlName="id" readonly>
                </mat-form-field> -->
                <mat-form-field>
                    <input class="form-control" type="text" matInput placeholder="Your First Name" formControlName="firstName">
                    <mat-hint>Please enter First Name.</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <input class="form-control" type="text" matInput placeholder="Your Middle Name" formControlName="middleName">
                    <mat-hint>Please enter a Middle Name.</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <input class="form-control" type="text" matInput placeholder="Your Last Name" formControlName="lastName">
                    <mat-hint>Please enter Last Name.</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <input class="form-control" type="text" matInput placeholder="Your email" [value]="driverEmail" formControlName="email" readonly>
                    <span>{{ driverEmail }}</span>
                </mat-form-field>
                <mat-form-field>
                    <input class="form-control" type="text" matInput placeholder="Your National Id Number" formControlName="nationalIdNumber">
                    <mat-hint>Please enter National Id Number.</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <input class="form-control" type="text" matInput placeholder="Your Cell Number" formControlName="cellNumber">
                    <mat-hint>Please enter Cell Number.</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <input class="form-control" type="text" matInput placeholder="Your Province" formControlName="province">
                    <mat-hint>Please enter Province.</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <input class="form-control" type="text" matInput placeholder="Your City" formControlName="city">
                    <mat-hint>Please enter City.</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <input class="form-control" type="text" matInput placeholder="Your Suburb" formControlName="suburb">
                    <mat-hint>Please enter Suburb.</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <input class="form-control" type="text" matInput placeholder="Your Street Name" formControlName="streetName">
                    <mat-hint>Please enter Street Name.</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <input class="form-control" type="text" matInput placeholder="Your Street Property Number" formControlName="streetPropertyNumber">
                    <mat-hint>Please enter Street Property Number.</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <input class="form-control" type="text" matInput placeholder="Your Unit Number" formControlName="unitNumber">
                    <mat-hint>Please enter Unit Number.</mat-hint>
                </mat-form-field>
    
            <div>
                <button mat-button type="button" id="cancel-save" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button mat-button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>