<div  *ngIf="!isShowViewMode && !isShowEditMode">
    <h2 id="page-heading">
        <span jhiTranslate="infringementwebApp.driver.home.title">Drivers</span>
        <button id="jh-create-entity" class="heading-button-right" mat-stroked-button color="accent" (click)="create()">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="infringementwebApp.driver.home.createLabel">
            Create a new Driver
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="alert alert-warning" id="no-result" *ngIf="drivers?.length === 0">
        <span jhiTranslate="infringementwebApp.driver.home.notFound">No drivers found</span>
    </div>
    <div class="table-responsive" id="entities" *ngIf="drivers && drivers.length > 0">
        <mat-table [dataSource]="drivers" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Id </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="firstName">
                <mat-header-cell mat-sort-header *matHeaderCellDef><span jhiTranslate="infringementwebApp.driver.firstName">First Name</span></mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef><span jhiTranslate="infringementwebApp.driver.lastName">Last Name</span></mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="middleName">
                <mat-header-cell *matHeaderCellDef><span jhiTranslate="infringementwebApp.driver.middleName">Middle Name</span></mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.middleName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef><span jhiTranslate="infringementwebApp.driver.email">Email</span></mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nationalIdNumber">
                <mat-header-cell *matHeaderCellDef><span jhiTranslate="infringementwebApp.driver.nationalIdNumber">National IdNumber</span></mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nationalIdNumber}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="cellNumber">
                <mat-header-cell *matHeaderCellDef><span jhiTranslate="infringementwebApp.driver.cellNumber">Cell Number</span></mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.cellNumber}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="viewActions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a type="submit" (click)="showViewMode(element)" class="heading-button-right" mat-stroked-button color="accent">
                        <fa-icon icon="eye"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                    </a>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="editActions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a type="submit" (click)="editViewMode(element)" class="heading-button-right" mat-stroked-button color="accent">
                        <fa-icon icon="pencil-alt"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </a>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="deleteActions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a (click)="delete(element)" class="heading-button-right" mat-stroked-button color="accent">
                        <fa-icon icon="times"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </a>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>
<div [hidden]="!isShowViewMode">
  selector: 'jhi-driver-detail',
    <jhi-driver-detail [driver]="driver" (goBackToList)="goBackToListHandler()"></jhi-driver-detail>
</div>
<div [hidden]="!isShowEditMode">
    <jhi-driver-update [driver]="driver" (goBackToList)="goBackToListHandler()"></jhi-driver-update>
</div>