<div fxLayout="row wrap" fxLayoutAlign="center center" class="layout-wrapper"> 
    <div fxFlex="80%" fxFlex.lt-md="100%" class="flex-wrapper"> 
        <section *ngIf="!driverEmail">
            <h3>Create User</h3>
            <jhi-register (registerUser)="handleRegisterUser(email)"></jhi-register>
        </section>
        <section *ngIf="driverEmail">
            <h3>Create Driver</h3>
            <jhi-driver-update (driverCreated)="driverCreated()" [driverEmail]="driverEmail"></jhi-driver-update>
        </section>
    </div> 
</div>