/* ==========================================================================
Navbar
========================================================================== */
.expanded-toolbar {
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.navbar-version {
  font-size: 10px;
  color: #ccc;
}
.logo-img {
  height: 45px;
  width: 70px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo.png') no-repeat center center;
  background-size: contain;
}
.expanded-toolbar {
  margin-bottom: 20px;
}
