<mat-toolbar color="primary" class="expanded-toolbar">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div fxHide.xs>
      <button mat-button routerLink="/"><span class="logo-img"></span></button>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
        <li *ngIf="!isAuthenticated()">
            <button mat-button routerLink="account/login" routerLinkActive="active" id="login">
                <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.login">Sign in</span>
            </button>
        </li>
        <li *ngIf="!isAuthenticated()">
            <button mat-button (click)="navigateToRigister()" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.register">Register</span>
            </button>
        </li>
        <li *ngIf="isAuthenticated()">
          <button mat-button (click)="navigateToInfringements()">{{ infringementsText }}</button>
        </li>
        <li *ngIf="isAuthenticated()">
          <button mat-button style="cursor: pointer" (click)="logout()">Logout</button>
        </li>
        <li>
          <button mat-button  style="cursor: pointer" routerLink="/staff">Staff</button>
        </li>
      </ul>
    </div>
  </mat-toolbar>
  