<mat-drawer-container class="mat-drawer-container landing-page">

    <!---->
    <mat-drawer-content class="mat-drawer-content ng-star-inserted">
        <div id="top" class="p-3 header-section">
            <div class="theme-container">
                <div fxlayout="row wrap" class="content"
                    style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
                    <div fxflex="100" class="py-5"
                        style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
                        <h1>Manage your infringements smartly.</h1>
                        <h4 class="mt-3">Housekey implements the official Angular Material Design
                            components and built with Angular CLI. No Bootstrap!, No jQuery! and Only TypeScript! Start
                            creating your app with Housekey template, 8 layouts, 8 color styles, 20+ pages</h4>
                        <div class="py-5">
                            <button routerLink="drivers" mat-raised color="primary">View Infringements</button>
                            <a mat-raised color="accent"
                                href="http://themeseason.com/" target="_blank"
                                class="mat-focus-indicator uppercase mx-2 mat-raised-button mat-button-base mat-accent"
                                tabindex="0" aria-disabled="false"><span class="mat-button-wrapper">Download App Now</span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    
        <mat-toolbar class="mat-toolbar copyright mat-toolbar-single-row">
            <div class="theme-container">
                <div fxlayout="row" fxlayout.xs="column" fxlayoutalign="space-between center"
                    style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center space-between; align-items: center;">
                    <p ngclass.xs="mt-1">Copyright © 2019 All Rights Reserved</p>
                    <p>Designed &amp; Developed by <a _ngcontent-nst-c239="" mat-button=""
                            href="http://themeseason.com/" target="_blank"
                            class="mat-focus-indicator mat-button mat-button-base" tabindex="0"
                            aria-disabled="false"><span class="mat-button-wrapper">ThemeSeason</span>
                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                            <div class="mat-button-focus-overlay"></div>
                        </a></p>
                </div>
            </div>
        </mat-toolbar>
    </mat-drawer-content>
    <!---->
</mat-drawer-container>
