<div  *ngIf="!isShowViewMode && !isShowEditMode">
    <h2 id="page-heading">
        <span jhiTranslate="infringementwebApp.vehicle.home.title">Vehicles</span>
        <button id="jh-create-entity" class="heading-button-right" mat-stroked-button color="accent" (click)="create()">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="infringementwebApp.vehicle.home.createLabel">
            Create a new Vehicle
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="alert alert-warning" id="no-result" *ngIf="vehicles?.length === 0">
        <span jhiTranslate="infringementwebApp.vehicle.home.notFound">No vehicles found</span>
    </div>
    <div class="table-responsive" id="entities" *ngIf="vehicles && vehicles.length > 0">
        <mat-table [dataSource]="vehicles" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Id </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="plateNumber">
                <mat-header-cell mat-sort-header *matHeaderCellDef><span jhiTranslate="infringementwebApp.vehicle.plateNumber">Plate Number</span></mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.plateNumber}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="make">
                <mat-header-cell *matHeaderCellDef><span jhiTranslate="infringementwebApp.vehicle.make">Make</span></mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.make}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="model">
                <mat-header-cell *matHeaderCellDef><span jhiTranslate="infringementwebApp.vehicle.model">Model</span></mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.model}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="engineNumber">
                <mat-header-cell *matHeaderCellDef><span jhiTranslate="infringementwebApp.vehicle.engineNumber">Engine Number</span></mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.engineNumber}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="chassisNumber">
                <mat-header-cell *matHeaderCellDef><span jhiTranslate="infringementwebApp.vehicle.chassisNumber">Chassis Number</span></mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.chassisNumber}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="yearFirstRegistered">
                <mat-header-cell *matHeaderCellDef><span jhiTranslate="infringementwebApp.vehicle.yearFirstRegistered">Year First Registered</span></mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.yearFirstRegistered}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="viewActions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a type="submit" (click)="showViewMode(element)" class="heading-button-right" mat-stroked-button color="accent">
                        <fa-icon icon="eye"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                    </a>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="editActions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a type="submit" (click)="editViewMode(element)" class="heading-button-right" mat-stroked-button color="accent">
                        <fa-icon icon="pencil-alt"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </a>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="deleteActions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a (click)="delete(element)" class="heading-button-right" mat-stroked-button color="accent">
                        <fa-icon icon="times"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </a>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>
<div *ngIf="isShowViewMode">
  selector: 'jhi-vehicle-detail',
    <jhi-vehicle-detail [vehicle]="vehicle" (goBackToList)="goBackToListHandler()"></jhi-vehicle-detail>
</div>
<div *ngIf="isShowEditMode">
    <jhi-vehicle-update [vehicle]="vehicle" (goBackToList)="goBackToListHandler()"></jhi-vehicle-update>
</div>

