<div>
    <div *ngIf="!isShowViewMode">
        <h2 id="page-heading">
            <span jhiTranslate="infringementwebApp.infringement.home.title">Infringements</span>
        </h2>

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <div class="alert alert-warning" id="no-result" *ngIf="infringements?.length === 0">
            <span jhiTranslate="infringementwebApp.infringement.home.notFound">No infringements found</span>
        </div>
        <div class="table-responsive" id="entities" *ngIf="infringements && infringements.length > 0">
            <mat-table [dataSource]="infringements" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Id </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="processInstanceId">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Process InstanceId </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.processInstanceId}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="infringementType">
                    <mat-header-cell *matHeaderCellDef> Infringement Type </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.infringementType}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="dateDone">
                    <mat-header-cell *matHeaderCellDef> Date Done </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.dateDone}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="doneBy">
                    <mat-header-cell *matHeaderCellDef> Done By </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.doneBy}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="driver">
                    <mat-header-cell *matHeaderCellDef> Driver </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <a *ngIf="element.driver"
                            [routerLink]="['/driver', element.driver?.id, 'view']">{{ element.driver?.id }}</a>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="vehicle">
                    <mat-header-cell *matHeaderCellDef> Vehicle </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <a *ngIf="element.vehicle"
                            [routerLink]="['/vehicle', element.vehicle?.id, 'view']">{{ element.vehicle?.id }}</a>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <a type="submit" (click)="showViewMode(element)" class="heading-button-right" mat-stroked-button color="accent">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </a>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
    <div *ngIf="isShowViewMode">
        <jhi-infringement-detail [infringement]="infringement" (goBackToList)="goBackToListHandler()" ></jhi-infringement-detail>
    </div>
</div>