<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="infringement">
            <h2><span jhiTranslate="infringementwebApp.infringement.detail.title">Infringement</span>
                {{ infringement.id }}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <div class="row-md jh-entity-details">
                <mat-list dense>
                    <mat-list-item><strong jhiTranslate="infringementwebApp.infringement.processInstanceId">Process
                            Instance Id</strong>: <span>{{ infringement.processInstanceId }}</span></mat-list-item>
                    <mat-list-item><strong jhiTranslate="infringementwebApp.infringement.infringementType">Infringement 
                            Type</strong>: <span>{{ infringement.infringementType }}</span></mat-list-item>
                    <mat-list-item><strong jhiTranslate="infringementwebApp.infringement.dateDone">Date Done</strong>: 
                        <span>{{ infringement.dateDone }}</span></mat-list-item>
                    <mat-list-item><strong jhiTranslate="infringementwebApp.infringement.doneBy">Done By</strong>: 
                        <span>{{ infringement.dateDone }}</span></mat-list-item>
                    <mat-list-item><strong jhiTranslate="infringementwebApp.infringement.driver">Driver</strong>: <span
                            *ngIf="infringement.driver">
                            <a
                                [routerLink]="['/driver', infringement.driver?.id, 'view']">{{ infringement.driver?.id }}</a>
                        </span></mat-list-item>
                    <mat-list-item><strong jhiTranslate="infringementwebApp.infringement.vehicle">Vehicle</strong>:<span
                            *ngIf="infringement.vehicle">
                            <a
                                [routerLink]="['/vehicle', infringement.vehicle?.id, 'view']">{{ infringement.vehicle?.id }}</a>
                        </span></mat-list-item>
                </mat-list>
            </div>
            <button type="submit" (click)="previousState()" class="heading-button-left" mat-flat-button color="accent">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>
        </div>
    </div>
</div>