<mat-card>
    <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div class="col-md-8">
                <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
                    <strong>Failed to sign in!</strong> Please check your credentials and try again.
                </div>
            </div>
            <div class="modal-header">
                <h1 class="modal-title" jhiTranslate="login.title">Sign in</h1>
            </div>
            <div class="alert alert-danger" *ngIf="authenticationError"
                jhiTranslate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
            <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm"
                (ngSubmit)="login()">
                <mat-form-field>
                    <input class="form-control" type="text" matInput placeholder="Your username"
                        formControlName="username">
                    <mat-hint>Please enter a valid username.</mat-hint>
                    <mat-error>Missing username.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input class="form-control" type="password" matInput placeholder="Your password"
                        formControlName="password">
                    <mat-hint>Please enter your password.</mat-hint>
                    <mat-error>Missing password.</mat-error>
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
            </form>
            <div class="mt-3 alert alert-warning">
                <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a>
            </div>
            <div class="alert alert-warning">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
    </mat-card-content>
</mat-card>